body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*!----------------REUSABLE CSS------------------- */




/*!----------------REUSABLE CSS------------------- */
.section-heading{
    background-image: url(/elements/images/bg_1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center center;
    height: 100vh;   
}
